.photo-list__item {
  position: relative; 
}

.photo-list-item__image-container {
  position: relative;
}

.photo-list-item__fav-button {
  position: absolute;
  top: 8px; 
  left: 8px; 
  z-index: 10; 
}

.photo-list__image {
  display: block; 
  width: 100%; 
  border-radius: 8px;
}