.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
  z-index: 10;
}

.photo-details-modal__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.photo-details-modal__image-container {
  position: relative; 
  margin: 16px;
}

.photo-details-modal__fav-icon{
  display: flex;
  position: absolute;
  scale: 100%;
  margin-top: 15px;
  margin-left: 10px;
}

.photo-details-modal__image {
  max-width: 100%;
  border-radius: 8px;
}


.photo-details-modal__content {
  margin: 16px;
}

.photo-details-modal__photographer-profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 25px;
}

.photo-details-modal__user-profile {
  width: 50px;         
  height: 50px;        
  border-radius: 50%; 
  object-fit: cover;   
  margin-right: 16px; 
  margin-top: 20px;
}

.photo-details-modal__photographer-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.photo-details-modal__photographer-name {
  font-weight: 700;
  font-size: 16px;
}

.photo-details-modal__photographer-location {
  color: #838383;
}

.photo-details-modal__similar{
display: flex;
position: relative;
margin-left: 100px;
}
